@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-button {
      position: relative;
    }
  
    .custom-button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100%);
      height: calc(100%);
      border: 1px solid rgba(255, 255, 255, 0.42);
      border-radius: inherit;
      pointer-events: none;
    }
  }

  .custom-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 34%, rgba(0, 0, 0, 0.5));
  }
  .side-gradient-one {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  }
  .side-gradient-two {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 9%, rgba(0, 0, 0, 1));
  }
  .side-gradient-three {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1));
  }
  .side-gradient-four {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.5) 97%);
  }
  .side-gradient-five {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
  }